.createFormContainer {
  background-color: white;
  border-radius: 15px;
  width: 50%;
  margin: 150px auto;
  padding: 70px;
}
.titleCreateForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitButtonContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submitButton {
  margin-top: 70px;
  margin-right: 30px;
  height: 40px;
}
.radioButtonContainer {
  display: flex;
  flex-direction: row;
}
.taskInputContainer {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.selectBox {
  border-radius: 4px;
  border: 1px solid #aaaaaa;
}
.selectField {
  border-radius: 5px;
  width: 310px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}
.selectError {
  margin-top: 10px;
  margin-bottom: 10px;

  color: red;
}
.successCreateProjectMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  height: 95px;
}
.backToProjectsButton {
  border-radius: 5px;
  color: rgb(61, 80, 248);
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Domine', serif;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
  transition: all 0.2s ease;
}
.backToProjectsButton:hover {
  color: black;
}
.projectTasksContainer {
  display: flex;
  flex-direction: row;
}
.projectTaskInputContainer {
  margin-top: 15px;
  margin-right: 30px;
}
.deleteTaskButtonContainer {
  margin-top: 15px;
}
.deleteTaskButton {
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  color: black;
  width: 120px;
  background: none;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Domine', serif;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
  transition: all 0.2s ease;
}
.deleteTaskButton:hover {
  background: rgb(197, 19, 19);
  color: white;
}
.submitButton {
  border-radius: 5px;
  border: 1px solid rgb(0, 67, 250);
  padding: 10px;
  width: 150px;
  color: rgb(0, 67, 250);
  background: none;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Domine', serif;
  cursor: pointer;
  margin-top: 3px;
  transition: all 0.2s ease;
}
.submitButton:hover {
  background: rgb(0, 67, 250);
  color: white;
}
.addTaskButton {
  border-radius: 5px;
  border: none;
  background: rgb(48, 155, 48);
  padding: 10px;
  width: 100px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Domine', serif;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease;
}
.addTaskButton:hover {
  background: rgb(39, 126, 39);
}
